@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background: #000;
    color: #fff;
}

header{
    height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/mainbg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 50px;
    padding: 0% 13%;
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 12%;
}
.netflix-logo{
    height: 40px;
}
.sign-in{
    padding: 5px 15px;
    background-color: rgb(241, 27, 27);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
header h1{
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: 600;
}
header h3{
    margin-bottom: 20px;
    font-weight: normal;
}
.form-div{
    margin-top: 20px;
    width: 100%;
}
.input-email{
    height: 50px;
    padding: 10px 15px;
    font-size: 20px;
    color: white;
    
}
.inp-feild{
    background-color: #00000046;
    border: 1px solid rgb(117, 116, 116);
    border-radius: 5px;
    width: 35%;
}
.send-btn{
    background-color: rgb(241, 27, 27);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    width: max-content;
}
/* ----------------- features rows ----------------- */

.feature-rows{
    padding: 50px 12%;
}
.f1 {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.f2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.f-text{
    width: 50%;
}
.f-img{
    width: 50%;
}
.f-img img{
    max-width: 400px;
}
.features h1{
    font-size: 50px;
    font-weight: bold;
    line-height: 60px;
}
.features p{
    font-size: 20px;
}
hr{
    height: 10px;
    background: #ffffff18;
    border: none;
}



/* ------------------------ FAQS ----------------------- */

.faqs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 12%;
}
.ques-row{
    padding: 20px 20px;
    display: flex;
    width: 100%;
    background-color: #464646fd;
    cursor: pointer;
    margin-top: 5px;
    font-size: 25px;
}
.add{
    margin-left: auto;
}
.ans{
    cursor: pointer;
    margin-top: 1px;
    background-color: #464646fd;
    padding: 15px 20px;
    display: none;
    font-size: 20px;
}
.faqs h1{
    margin-bottom: 20px;
    font-size: 50px;
}


.links{
    margin: 75px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 12%;
    flex-wrap: wrap;
}
.all-link{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}
a{
    color: white;
    margin: 8px 0;
    font-size: 13px;
}
.links-1, .links-2{
    display: flex;
    flex-direction: row;
}

.samip{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.samip span , .samip a{
    font-size: 18px;
}


@media (max-width: 950px){
    
   
    
    .header-content{
        margin-top: 30px;
        padding: 0 5%;
    }
    nav{
        padding: 20px 5%;
    }
    .inp-feild, .send-btn{
        width: 90%;
        margin-top: 5px;
    }
    .header-content h1{
        font-size: 35px;
    }
    .feature-rows{
        padding: 10px 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .f-text, .f-img{
        width: 100%;
        padding: 10px 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .f-text h1{
        font-size: 35px;
        padding: 0%;
        line-height: 50px;
        text-align: center;
    }
    .f-text p{
        text-align: center;
    }
    .faqs h1{
        font-size: 35px;
    }
    .all-link{
        margin-right: 50px;
    }
    .links-1, .links-2{
        width: 100%;
    }
}
